body {
    background: yellow;
}

#top {
    text-align:center;
    color: black;
<<<<<<< HEAD
=======
    font-family: "EB Garamond";
>>>>>>> 2ca5088dfce848d8685de01270988f2bfe4ad157
    font-weight:bold;
    font-family: "EB Garamond", serif;
}
