body {
    background: #fff;
}

#top {
    text-align:center;
    color: black;
    font-family: "EB Garamond", serif;
    font-weight:bold;
  
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-bottom {
    text-align: center;
}

.mainpage-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    
}

.mainpage-menu li a {
    display:block;
    padding: 5px 10px;
    text-decoration: none;
}


.logo-img {
    display:block;
    width: 150px;
    height: 100px;
    
}

.social-media {
    text-align: center;
}

.offered-services {
    text-align: center;
}

.email-form {
    text-align:center;
    padding-bottom: 50px;
}
/* Table edition */

table {
    width:70%;
    height: 100%;
}

.table-box {
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 30vh;
    width: 100vw;
    padding-bottom: 20px;
    padding-top: 20px;
}

th {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: white;
    
}


table, th, tr {
    border: 1px solid black; /* Sets border width, style, and color */
    padding: 0.5em
    
    
}


/* Hero section */

.hero {
    padding: 200px;
    object-fit: contain;

    justify-content: center;
    align-content: center;

}

.hero-headline {
    font-weight: bold;
    font-size: 24px;
    color: darkblue;
    
}

.hero-sub-headline {
    font-size: 18px;
    color: darkblue;
}

.hero-image {
    height: 60%;
    width: 60%;
    object-fit:contain;
    justify-content: right;
    align-items: center;
}

/* Footer */

.footer-container {
    padding: 40px;
    display:grid;
    
    
}

.footer-bottom {
    text-align: center;
    background-color: #023E8A;
    color: white;
}
