body {
    background: #fff;
}

#top {
    text-align:center;
    color: black;
    font-family: "EB Garamond", serif;
    font-weight:bold;
  
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-bottom {
    text-align: center;
}

.mainpage-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: left;
    
}

.mainpage-menu li a {
    display:block;
    padding: 5px 10px;
    text-decoration: none;
}

.logo-img {
    position:relative;
    height:400;
    
}

.logo-img {
    position:fixed;
    display:block;
    margin: 1px;
    width: 150px;
    height: 100px;
    
}

.social-media {
    text-align: center;
}

.offered-services {
    text-align: center;
}