body {
    background: #fff;
}

#top {
    text-align:center;
    color: black;
    font-family: "EB Garamond", serif;
    font-weight:bold;
  
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}