<!DOCTYPE html>
<head>
    <title>Services</title>
    <meta name="services" content="services that upid identity provide"
</head>

<body>

    <div style="text-align: center;">
        <h2>Services Offered</h2>
    </div>
    <p>SSO (Single Sign-On) and MFA (Multi-Factor Authentication) integration</p>
    <p>Identity lifecycle management</p>
    <h5>Pricing Strategy</h5>
    <p alt="PRICING STRATEGY" id="pricing-strategy">"Have IAM administration to increase performance and reduce costs of  unused applications.”</p>

    <h5>Operational Analytics</h5>
    <p alt="Operational Strategy">Manage on-board and off-board of your employees, and your on-cloud and on-premise applications to enable SSO on them.</p>
</body>

