body {
    font-family: "EB Garamond", serif;
    margin: 20px;
}

/* --- HEADER Section --- */

.header-about {
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
    padding: 70px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    
}

/* --- END HEADER Section --- */






h1 {
    text-align: center; 
}

.block-1 {
    padding: 50px;
}

.block-2 {
    padding: 50px;
    
}