
body {
    font-family: "EB Garamond", serif;
    margin: 20px;
}


/* --- HEADER Section --- */

.header-contactus {
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
    padding: 70px;
    
}

/* --- END HEADER Section --- */