.header-securityandcompliance {
    padding: 50px;
    margin: 0;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
}

#subheader-securityandcompliance {
    font-weight: bold;
    
}

body {
    font-family: "EB Garamond", serif;

}